@media (max-width: 900px) {
  .main {
    .quiz {
      &__content {
        display: inline-block;
        text-align: center;
      }

      &__questionList {
        margin: 0 auto;
        text-align: left;
      }
    }
  }
}
