// ============================
// VARIABLES
// ============================
// COLORS *********

$color-1: #265e73;
$color-2: #caeef1;
$color-3: #9d346e;
$color-4: #fefbfd;
$color-5: #232323;

// FONTS **********
$font-1: "Cinzel";
$font-2: "Raleway";
